
COMPOSE_PROJECT_NAME=

FRONTEND_PORT=
BACKEND_PORT=
MONGODB_PORT=
MONGO_EXPRESS_PORT=

NODE_ENV=
MONGODB_URI=
CORS_ORIGIN=
IMGFLIP_API_URL=

NEXT_PUBLIC_API_URL=

ME_CONFIG_MONGODB_SERVER=
ME_CONFIG_MONGODB_PORT=
ME_CONFIG_BASICAUTH_USERNAME=
ME_CONFIG_BASICAUTH_PASSWORD=
